[submodule "lisp/evil"]
	path = site-lisp/evil
	url = git@github.com:emacs-evil/evil.git
[submodule "lisp/evil-leader"]
	path = site-lisp/evil-leader
	url = git@github.com:cofi/evil-leader.git
[submodule "lisp/evil-snipe"]
	path = site-lisp/evil-snipe
	url = git@github.com:hlissner/evil-snipe.git
[submodule "lisp/evil-collection"]
	path = site-lisp/evil-collection
	url = git@github.com:emacs-evil/evil-collection.git
[submodule "lisp/swiper"]
	path = site-lisp/swiper
	url = git@github.com:abo-abo/swiper.git
[submodule "lisp/smex"]
	path = site-lisp/smex
	url = git@github.com:nonsequitur/smex.git
[submodule "lisp/emacs-which-key"]
	path = site-lisp/emacs-which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "lisp/linum-relative"]
	path = site-lisp/linum-relative
	url = git@github.com:coldnew/linum-relative.git
[submodule "lisp/annalist.el"]
	path = site-lisp/annalist.el
	url = git@github.com:noctuid/annalist.el.git
[submodule "lisp/evil-vimish-fold"]
	path = site-lisp/evil-vimish-fold
	url = git@github.com:alexmurray/evil-vimish-fold.git
[submodule "lisp/vimish-fold"]
	path = site-lisp/vimish-fold
	url = git@github.com:matsievskiysv/vimish-fold.git
[submodule "lisp/f.el"]
	path = site-lisp/f.el
	url = git@github.com:rejeep/f.el.git
[submodule "lisp/s.el"]
	path = site-lisp/s.el
	url = git@github.com:magnars/s.el.git
[submodule "lisp/dash.el"]
	path = site-lisp/dash.el
	url = git@github.com:magnars/dash.el.git
[submodule "lisp/org-roam"]
	path = site-lisp/org-roam
	url = git@github.com:org-roam/org-roam.git
[submodule "lisp/magit"]
	path = site-lisp/magit
	url = git@github.com:magit/magit.git
[submodule "lisp/transient"]
	path = site-lisp/transient
	url = git@github.com:magit/transient.git
[submodule "lisp/with-editor"]
	path = site-lisp/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "lisp/emacsql"]
	path = site-lisp/emacsql
	url = git@github.com:skeeto/emacsql.git
[submodule "lisp/org-bullets"]
	path = site-lisp/org-bullets
	url = git@github.com:sabof/org-bullets.git
[submodule "lisp/valign"]
	path = site-lisp/valign
	url = git@github.com:casouri/valign.git
[submodule "lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "lisp/dockerfile-mode"]
	path = site-lisp/dockerfile-mode
	url = git@github.com:spotify/dockerfile-mode.git
[submodule "lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "lisp/projectile"]
	path = site-lisp/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "lisp/counsel-projectile"]
	path = site-lisp/counsel-projectile
	url = git@github.com:ericdanan/counsel-projectile.git
[submodule "lisp/lua-mode"]
	path = site-lisp/lua-mode
	url = git@github.com:immerrr/lua-mode.git
[submodule "lisp/json-mode"]
	path = site-lisp/json-mode
	url = git@github.com:joshwnj/json-mode.git
[submodule "lisp/json-snatcher"]
	path = site-lisp/json-snatcher
	url = git@github.com:Sterlingg/json-snatcher.git
[submodule "site-lisp/company-mode"]
	path = site-lisp/company-mode
	url = git@github.com:company-mode/company-mode.git
[submodule "site-lisp/lsp-mode"]
	path = site-lisp/lsp-mode
	url = git@github.com:emacs-lsp/lsp-mode.git
[submodule "site-lisp/ht.el"]
	path = site-lisp/ht.el
	url = git@github.com:Wilfred/ht.el.git
[submodule "site-lisp/hydra"]
	path = site-lisp/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git@github.com:defunkt/markdown-mode.git
[submodule "site-lisp/spinner.el"]
	path = site-lisp/spinner.el
	url = git@github.com:Malabarba/spinner.el.git
[submodule "site-lisp/applescript-mode"]
	path = site-lisp/applescript-mode
	url = git@github.com:emacsorphanage/applescript-mode.git
[submodule "site-lisp/racket-mode"]
	path = site-lisp/racket-mode
	url = git@github.com:greghendershott/racket-mode.git
[submodule "site-lisp/ledger-mode"]
	path = site-lisp/ledger-mode
	url = https://github.com/ledger/ledger-mode.git
[submodule "site-lisp/evil-org-mode"]
	path = site-lisp/evil-org-mode
	url = https://github.com/Somelauw/evil-org-mode.git
[submodule "site-lisp/ox-hugo"]
	path = site-lisp/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo
[submodule "site-lisp/tomelr"]
	path = site-lisp/tomelr
	url = https://github.com/kaushalmodi/tomelr.git
[submodule "site-lisp/plantuml-mode"]
	path = site-lisp/plantuml-mode
	url = git@github.com:skuro/plantuml-mode.git
[submodule "site-lisp/undo-tree.el"]
	path = site-lisp/undo-tree.el
	url = https://github.com/apchamberlain/undo-tree.el.git
[submodule "site-lisp/emacs-jupyter"]
	path = site-lisp/emacs-jupyter
	url = https://github.com/nnicandro/emacs-jupyter.git
[submodule "site-lisp/emacs-web-server"]
	path = site-lisp/emacs-web-server
	url = https://github.com/skeeto/emacs-web-server.git
[submodule "site-lisp/emacs-websocket"]
	path = site-lisp/emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket.git
[submodule "site-lisp/emacs-zmq"]
	path = site-lisp/emacs-zmq
	url = https://github.com/nnicandro/emacs-zmq.git
	ignore = dirty
[submodule "site-lisp/awesome-tab"]
	path = site-lisp/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
[submodule "site-lisp/lsp-bridge"]
	path = site-lisp/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "site-lisp/posframe"]
	path = site-lisp/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "site-lisp/lsp-pyright"]
	path = site-lisp/lsp-pyright
	url = https://github.com/emacs-lsp/lsp-pyright.git
[submodule "site-lisp/fd-dired"]
	path = site-lisp/fd-dired
	url = https://github.com/yqrashawn/fd-dired.git
[submodule "site-lisp/rg.el"]
	path = site-lisp/rg.el
	url = https://github.com/dajva/rg.el.git
[submodule "site-lisp/Emacs-wgrep"]
	path = site-lisp/Emacs-wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "site-lisp/peep-dired"]
	path = site-lisp/peep-dired
	url = https://github.com/Diphia/peep-dired.git
[submodule "site-lisp/dired-hacks"]
	path = site-lisp/dired-hacks
	url = https://github.com/Fuco1/dired-hacks.git
[submodule "site-lisp/doom-modeline"]
	path = site-lisp/doom-modeline
	url = https://github.com/seagle0128/doom-modeline.git
[submodule "site-lisp/compat"]
	path = site-lisp/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "site-lisp/nerd-icons.el"]
	path = site-lisp/nerd-icons.el
	url = https://github.com/rainstormstudio/nerd-icons.el.git
[submodule "site-lisp/shrink-path.el"]
	path = site-lisp/shrink-path.el
	url = https://github.com/zbelial/shrink-path.el.git
[submodule "site-lisp/themes"]
	path = site-lisp/themes
	url = https://github.com/doomemacs/themes.git
[submodule "site-lisp/imenu-list"]
	path = site-lisp/imenu-list
	url = https://github.com/bmag/imenu-list.git
[submodule "site-lisp/emacs-libvterm"]
	path = site-lisp/emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm.git
[submodule "site-lisp/tmtxt-dired-async"]
	path = site-lisp/tmtxt-dired-async
	url = git@github.com:tmtxt/tmtxt-dired-async.git
[submodule "site-lisp/tmtxt-async-tasks"]
	path = site-lisp/tmtxt-async-tasks
	url = git@github.com:tmtxt/tmtxt-async-tasks.git
